@font-face {
    font-family: 'couture';
    src: url('../assets/fonts/couture.otf');
}

body {
    background-color: pink;
}

#headerLogos img {
    height: 17vw;
}

#headerIcons {
    display: flex;
    flex-direction: row;
}

#headerIcons img {
    margin-top: 3vw;
    margin-left: 2vw;
    height: 10vw;
    filter: brightness(100);
}

#navbar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#navbar p {
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

a {
    text-decoration: none;
}

#hairLogo {
    margin-left: -4vw;
}

#headerTextLinks {
    display: flex;
    flex-direction: row;
    font-size: 5vw;
}

#headerTextLinks p {
    margin-left: 3vw;
    margin-top: -.5vw;
    font-family: couture;
}

.icon {
    width: 45px;
}

h1 {
    font-family: couture;
}

h2 {
    font-family: couture;
}

h3 {
    font-family: couture;
}

h4 {
    font-family: couture;
}

#stylistImage {
    min-width: 150px;
    min-height: 150px;
    width: 15vw;
    height: 15vw;
}

#stylistRow {
    display: flex;
    flex-direction: row;
    min-width: 370px;
    width: 50vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border-style: groove;
    border-width: 5px;
    border-color: bisque;
    box-shadow: 3px 3px 3px white;
    padding: 5px;
}

#stylistDetails {
    display: flex;
    flex-direction: column;
    position: relative;
}

#stylistDetails h1 {
    margin-bottom: 0;
}

#stylistDetails h4 {
    margin-top: 0;
}

.cardIcons {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-top: 5px;
}

#stylistSkills {
    min-width: 200px;
    width: 25vw;
}

#clientsRow {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#clientsRow img {
    margin-left: 15px;
    margin-top: 7px;
}

.list {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    text-align: center;
}

.form {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    min-width: 350px;
    text-align: center;
}

.form input {
    margin-bottom: 5px;
}

.form select {
    margin-bottom: 5px;
}

#clientImage {
    min-width: 150px;
    min-height: 150px;
    width: 15vw;
    height: 15vw;
}

#clientDetails {
    position: relative;
    margin-left: 20px;
}

#clientIcons {
    position: absolute;
    top: 0;
    right: 0;
}

#clientCard {
    display: flex;
    flex-direction: row;
    min-width: 370px;
    width: 50vw;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    border-style: groove;
    border-width: 5px;
    border-color: bisque;
    box-shadow: 3px 3px 3px white;
    padding: 5px;
}

.indexRow {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.indexRow img {
    margin-left: 15px;
    margin-top: 15px;
}

#homePage {
    min-width: 350px;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}