<div id="homePage">
    <h2>Bonjour Claire</h2>
    <h4>Welcome to your stylist / client organizer. Click the hair icon in the upper left corner or the business name to
        return to this page at any time.</h4>
    <h4>The Icons in the upper right corner will bring you to lists of all your clients or stylists. From these pages,
        you
        can add entries by clicking the "plus" icon, or click on a name to view details about the selected person.</h4>
    <h4>Each page listing multiple entries contains a search bar that will filter results to only display entries
        containing
        the search input. To return to viewing all entries after a search, simply submit the form again with the search
        field empty.</h4>
</div>