@model HairSalon.Models.Client

<body>
    <h2> Client Details - @Model.Stylist.Name</h2>
    <hr />
    <p>Name: @Model.Name</p>
    <a href="/clients/edit/@Model.ClientId">
        <img src="~/assets/images/edit.svg" alt="edit icon" />
    </a>
    <a href="/clients/delete/@Model.ClientId">
        <img src="~/assets/images/deleteIcon.svg" alt="delete icon" />
    </a>
</body>