@model HairSalon.Models.Client
<div class="form">
    <h2>Editing: @Html.DisplayFor(model => model.Name)</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ClientId)
        <br>
        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
        <br>
        <label for="StylistId">Stylist:</label>
        @Html.DropDownList("StylistId")
        <br>
        <input type="submit" value="Save" />
    }
    <button><a href="/clients/details/@Model.ClientId">
            <p>Back to Client Details</p>
        </a></button>
</div>