@using HairSalon.Models;
@model List<HairSalon.Models.Client>;
<div class="list">
    <div class="indexRow">
        <h1>Clients</h1>
        <a href="/clients/create/">
            <img class="icon" src="~/assets/images/addIcon.png" alt="add icon" />
        </a>
    </div>
    <form asp-controller="Clients" asp-action="Index">
        <p>
            <input type="text" name="SearchString" placeholder="search" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <h2>(<span id="clientName">Client Name</span> | Stylist Name)</h2>
    <hr />
    @if (@Model.Count == 0)
    {
        <h3>No clients have been added...</h3>
    }

    @foreach (Client client in Model)
    {
        <h3>@Html.ActionLink($"{@client.Name}", "Details", new { id = client.ClientId }) |
            @client.Stylist.Name</h3>
    }
</div>